<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <typeAliases>
    <typeAlias type="com.web.som.account.dto.AccountDTO" alias="account" />
    <typeAlias type="com.web.som.board.dto.BoardDTO" alias="board" />
    <typeAlias type="com.web.som.board.dto.BoardTypeDTO" alias="boardtype" />
    <typeAlias type="com.web.som.board.dto.BoardSearchDTO" alias="boardsearch" />
  </typeAliases>
</configuration>